[Unit]
Description=CU Rest Agent
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /opt/pCUConfServer/server.py

[Install]
WantedBy=multi-user.target
